*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Sora', sans-serif;
  /* --ff-seondary: ; */
  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: burlywood;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.23rem;
  --fs-body: 1rem;

  --bs: .25em .25em .75em rgb(0,0,0,.25),
        .125em .125em .25em rgb(0,0,0,.25) ;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}


/* general style */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}
h1,
h2,
h3 {
  line-height: 1;
  margin:0;

}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}


.sect__title {
  margin-bottom: .25em;

}

.sect__title--intro strong {
  display: block;
}

.sect__title--intro {
  font-weight: var(--fw-reg);
}
.sect__sub {
  margin: 0;
  font-size: var(--fs-h3);
}

.sect__sub--intro,
.sect__sub--about_me {
  background: var(--clr-accent);
  padding: .25em;
  font-family: var(--ff-primary);
  margin-bottom: 1em;
}

.sect__sub--photos {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 400px;
}

/* nav bar */

nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translatex(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav__toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;

}

.nav__open .nav {
  transform: translate(0);
}

.nav__open .nav__toggle {
  position: fixed;
}

.nav__open .hamburger {
  transform: rotate(.625turn); 
}

.nav__open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav__open .hamburger::after {
  opacity: 0;
}


.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {   
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {top:6px;}
.hamburger::after {bottom: 6px;}

/* intro sect */

.intro {
  position: relative;

}

.intro__img {
  box-shadow: var(--bs);
}

.sect__sub--intro {
  display: inline;
}
@media ( min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;

  }

  .sect__sub--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);

  }
}

/* Projects */

.my-projects {
  background-color: var(--clr-dark);
  background-image: url(../images/projects_bg.jpg);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}

.sect__title--project {
  color: var(--clr-light);
  position: relative;
}

.sect__title--project::after {
  content: '';
  display: block;
  width: 4em;
  height: 2px;
  margin: .5em auto 1em;
  background: var(--clr-accent);
  opacity: 1;
}

.projects {
  max-width: 500px;
  margin: auto;
}

.h3_color {
  color: var(--clr-accent);
}

@media (min-width: 800px) {
  .projects {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .project + .project {
    margin-left: 2em;
  }
}



/* About me */
.about_me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about_me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
      "title img"
      "sub img"
      "text img";
    grid-column-gap: 2em;
  }

  .sect__title--about_me {
    grid-area: title;
  }

  .sect__sub--about_me {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 4em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative ;
  }
}

/* Photos */

.photos {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}


.pics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.photos__item {
  background: var(--clr-dark);
  overflow: hidden;
}

.photos__pic {
  transition: 
  transform 750ms cubic-bezier(.5, 0, .5, 1),
  opacity 250ms linear;
}

.photos__item:focus {
  position: relative;
  z-index: 2;
}

.photos__pic:hover,
.photos__item:focus .photos_img {
  transform: scale(1.3);
  /* opacity: .5; */
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.sns-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.sns-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.sns-list__item {
  margin: 0 1em;
}

.sns-list__list{
  padding: 1em;
}